* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  justify-content: center;
  align-items: center;
}

.card-img-top {
  margin: 10px 0;
  width: 200px;
  height: 180px;
}

p {
  margin-bottom: 3px;
}

.card-title {
  margin-bottom: 3px;
  color: #0d6efd;
}

.card-body {
  padding: 0.6rem;
}

.modeal-img {
  width: 220px;
  height: 220px;
}

.justify-content-around {
  align-items: center;
}
